<!DOCTYPE html>
<html>
	<head>
		<title><%= "#{@title} | " if @title %>Dixie</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
			function unesc(str) {
				var tmp = document.createElement("div");
				tmp.innerHTML = str;
				return tmp.childNodes[0].nodeValue;
			}

			function render_markdown() {
				var node = document.getElementById("markdown-source");
				node.innerHTML = new Showdown.converter().makeHtml(unesc(node.innerHTML));
				hljs.initHighlighting();
			}
		</script>
	</head>
	<body onload="render_markdown()">
		<div class="content-border" style="width:1000px;margin-left:auto;margin-right:auto;">
			<div class="content" style="margin-top: .5em">
				<%= yield %>
			</div>
		</div>
		<p class="footer">
			<a class="footer-link" href="/">Dixie</a> |
			<a class="footer-link" href="/about">About</a> |
			<a class="footer-link" href="/privacy">Privacy</a> | 
			<a class="footer-link" href="/contact">Contact</a>
		</p>
	</body>
</html>

