<!DOCTYPE html>
<html>
	<head>
		<title><%= "#{@title} | " if @title %>Dixie</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
        <%= javascript_include_tag params[:controller] %>
		<%= csrf_meta_tags %>
	</head>
    <body> 
		<div class="content-border" style="width:1000px;margin-left:auto;margin-right:auto;">
			<div class="content" style="margin-top: .5em">
				<%= yield %>
			</div>
		</div>
		<p class="footer">
			<a class="footer-link" href="/">Dixie</a> |
			<a class="footer-link" href="/about">About</a> |
			<a class="footer-link" href="/privacy">Privacy</a> | 
			<a class="footer-link" href="/contact">Contact</a>
		</p>
	</body>
</html>

